In [1]:
import pandas as pd
import numpy as np
import glob

import seaborn as sns
import matplotlib.pyplot as plt

# 한글 폰트 사용을 위해서 세팅
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

In [2]:
mnX3 = glob.glob('mnX3_??.csv')
mnX3

['mnX3_10.csv',
 'mnX3_11.csv',
 'mnX3_13.csv',
 'mnX3_14.csv',
 'mnX3_15.csv',
 'mnX3_16.csv',
 'mnX3_17.csv',
 'mnX3_18.csv',
 'mnX3_20.csv',
 'mnX3_21.csv',
 'mnX3_22.csv',
 'mnX3_23.csv',
 'mnX3_24.csv',
 'mnX3_25.csv',
 'mnX3_26.csv',
 'mnX3_27.csv',
 'mnX3_28.csv',
 'mnX3_29.csv',
 'mnX3_30.csv',
 'mnX3_31.csv',
 'mnX3_32.csv',
 'mnX3_33.csv']

In [4]:
def df_complain(data):
    df = data.groupby(['date']).count()
    df = df[['X55','X56', 'X57', 'X58', 'X59', 'X60', 'X61', 'X62', 'X63', 'X64', 'X65','X66', 'X67', 'X68', 'X69', 'X70', 'X71']]
    
    index_list = []
    for i in df.index:
        index_list.append(i.split('.')[0])

    df.index = index_list
    return df

In [5]:
for i in mnX3:
    read_dt = pd.read_csv(i)
    read_dt = df_complain(read_dt)
    
read_dt

,X55,X56,X57,X58,X59,X60,X61,X62,X63,X64,X65,X66,X67,X68,X69,X70,X71
202101,41,12,8,21,14,6,23,6,5,13,23,4,3,6,6,1,0
202102,44,13,10,19,14,5,25,6,0,6,25,5,5,7,5,1,0
202103,39,10,13,14,16,6,26,7,2,10,27,2,2,9,8,1,0
202104,45,13,11,14,19,9,24,5,1,7,26,6,3,4,7,3,1
202105,43,12,12,12,23,13,27,9,2,10,26,4,3,3,6,1,1
202106,36,11,8,16,19,10,23,10,1,10,29,9,2,2,8,1,1
202107,38,8,16,18,22,10,23,12,5,10,30,8,2,3,4,3,1
202108,37,12,11,14,25,13,26,7,2,10,29,6,4,3,5,1,1
202109,42,10,11,12,20,12,30,10,3,9,33,2,3,2,6,3,1
202110,39,12,10,8,18,10,24,10,5,7,29,8,3,0,3,3,2
202111,35,9,10,12,18,10,25,10,5,7,33,10,3,3,9,3,1
202112,34,5,61,10,20,16,28,10,4,8,33,9,3,4,5,2,1

In [3]:
pd.read_csv(mnX3[0])

,WT,X1,X2,X3,X16,X17,X17_1,X20,X21,X30,...,X63,X64,X65,X66,X67,X68,X69,X70,X71,date
0,4395.72,11,2,10,1,1,2,2,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202101.xlsx
1,4395.72,11,3,10,1,2,2,1,1,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202101.xlsx
2,6416.74,31,5,10,2,2,2,4,3,4.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,202101.xlsx
3,4395.72,31,3,10,1,1,2,3,3,3.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,202101.xlsx
4,4395.72,31,2,10,1,1,2,2,2,2.0,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,202101.xlsx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
910,3692.40,21,4,10,1,1,1,4,3,4.0,...,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,202112.xlsx
911,7157.13,38,6,10,1,1,2,2,2,2.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,202112.xlsx
912,3692.40,37,2,10,1,1,2,2,2,3.0,...,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,202112.xlsx
913,3692.40,24,1,10,1,2,2,3,4,4.0,...,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,202112.xlsx
914,3692.40,22,2,10,1,1,2,2,3,2.0,...,NaN,1.0,1.0,1.0,1.0,NaN,1.0,1.0,NaN,202112.xlsx