## 상권분석 - 카드 데이터
### 1. 데이터 불러오기

In [2]:
#모듈 불러오기
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.rc('font', family='New Gulim')

In [4]:
card = pd.read_csv('C:/Users/juyeo/Desktop/store/KT_data_20200717/card_20200717.csv')

업종 별 결재금액 데이터

receipt_dttm = 카드회사가 카드사용내역을 접수한일자
adstrd_code = 가맹점 위치 기준 행정동 코드
adstrd_nm = 가맹점 위치 기준 행정동명
mrhst_induty_cl_code = 가맹점 업종코드
mrhst_induty_cl_nm = 가맹점 업종명
selng_cascnt = 매출발생건수
salamt = 매출발생금액

In [5]:
card

,receipt_dttm,adstrd_code,adstrd_nm,mrhst_induty_cl_code,mrhst_induty_cl_nm,selng_cascnt,salamt
0,20200104,1174066000,성내3동,7041,약국,463,5843230
1,20200104,1174066000,성내3동,7022,치과의원,33,7835550
2,20200104,1174066000,성내3동,7021,한의원,53,4589800
3,20200104,1174066000,성내3동,7020,의원,339,9267240
4,20200104,1174066000,성내3동,6110,자동차정비,19,4441000
...,...,...,...,...,...,...,...
3713947,20200614,1121586000,구의2동,4004,대형할인점,136,1195640
3713948,20200614,1121584700,자양4동,9010,인테 리어,2,13100
3713949,20200614,1162052500,보라매동,6140,주 차 장,2,14500
3713950,20200614,1135056000,월계1동,9998,기타전문점,1,38000
3713951,20200614,1159060500,흑석동,9204,사무통신기기수리,1,20000

In [6]:
master = pd.read_csv('C:/Users/juyeo/Desktop/store/KT_data_20200717/adstrd_master.csv')

In [24]:
master

      adstrd_code adstrd_nm  brtc_nm signgu_nm
0      11110515.0     청운효자동    서울특별시       종로구
1      11110530.0       사직동    서울특별시       종로구
2      11110540.0       삼청동    서울특별시       종로구
3      11110550.0       부암동    서울특별시       종로구
4      11110560.0       평창동    서울특별시       종로구
...           ...       ...      ...       ...
3488   50130580.0       서홍동  제주특별자치도      서귀포시
3489   50130590.0       대륜동  제주특별자치도      서귀포시
3490   50130600.0       대천동  제주특별자치도      서귀포시
3491   50130610.0       중문동  제주특별자치도      서귀포시
3492   50130620.0       예래동  제주특별자치도      서귀포시

[3493 rows x 4 columns]