<a href="https://colab.research.google.com/github/juyeon-shin/CLUB-D.N.A./blob/main/2022/01.%20%ED%8E%AD%EA%B7%84%20%EB%AA%B8%EB%AC%B4%EA%B2%8C%20%EC%98%88%EC%B8%A1%20%EA%B2%BD%EC%A7%84%EB%8C%80%ED%9A%8C/03_%EB%AA%A8%EB%8D%B8%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv('/content/drive/MyDrive/2022/202201 펭귄 몸무게 예측 경진대회/데이터/pret_train.csv')
train

      id  ... Body Mass (g)
0      0  ...          5550
1      1  ...          3800
2      2  ...          4400
3      3  ...          4850
4      4  ...          5700
..   ...  ...           ...
106  109  ...          3700
107  110  ...          4250
108  111  ...          4100
109  112  ...          2700
110  113  ...          5600

[111 rows x 11 columns]

### 데이터 전처리
+ 범주형 변수 인코딩
------------------
train_test 분리
------------------
+ 정규화 (StandardScaler)
+ PCA

In [10]:
#범주형 변수 인코딩 -
#라벨인코딩은 회귀에는 적절하지 않음
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()

#pandas
train = pd.get_dummies(train)
train

      id  Culmen Length (mm)  ...  Sex_FEMALE  Sex_MALE
0      0                50.0  ...           0         1
1      1                49.5  ...           0         1
2      2                45.1  ...           1         0
3      3                44.5  ...           1         0
4      4                49.6  ...           0         1
..   ...                 ...  ...         ...       ...
106  109                36.6  ...           1         0
107  110                39.2  ...           0         1
108  111                43.2  ...           0         1
109  112                46.9  ...           1         0
110  113                50.8  ...           0         1

[111 rows x 17 columns]

In [26]:
#독립변수, 타겟 데이터 지정

data = train.drop(['Body Mass (g)'],axis=1)
data = data.values
target = train['Body Mass (g)']

In [24]:
#훈련, 검증 데이터 분할

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data,target,test_size=0.1)

In [ ]:
#정규화 - PCA에 적합한 정규화
#타겟을 제외한 모든 값을 표준 정규분포를 가지는 값으로 변환
from sklearn.preprocessing import StandardScaler
Scaler = StandardScaler()

### 차원축소 (PCA)
+ 적절한 변수 설정

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 0.95)
X_reduced = pca.fit_transform(train)

+ train, test 분할
+ 라벨 인코딩
+ 정규화
+ PCA