### 220917_주연_대출신청 예측분석_0. merge_data

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

import seaborn as sns

user_spec = pd.read_csv('user_spec.csv')
loan_result = pd.read_csv('loan_result.csv')
log_data = pd.read_csv('log_data.csv')

loan_user = pd.merge(loan_result,user_spec,how='left', on='application_id')
loan_user
loan_user.to_csv('loan_user_merge.csv',index=False)

In [2]:
loan_user = pd.read_csv('loan_user_merge.csv')

In [3]:
loan_user.isnull().sum()

application_id                                0
loanapply_insert_time                         0
bank_id                                       0
product_id                                    0
loan_limit                                 7495
loan_rate                                  7495
is_applied                              3257239
user_id                                     113
birth_year                               128209
gender                                   128209
insert_time                                 113
credit_score                            1509389
yearly_income                               119
income_type                                 113
company_enter_month                      400450
employment_type                             113
houseown_type                               113
desired_amount                              113
purpose                                     113
personal_rehabilitation_yn              5888814
personal_rehabilitation_complete_yn    11794090
existing_loan_cnt                       2685822
existing_loan_amt                       3890276
dtype: int64

In [4]:
loan_user_sort = loan_user.sort_values('loanapply_insert_time')
loan_user_sort

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
754902,566528,2022-03-01 00:11:36,13,123,20000000.0,19.1,0.0,681184.0,1974.0,1.0,...,OTHERINCOME,NaN,기타,전월세,1000000.0,생활비,NaN,NaN,4.0,20000000.0
1116695,180433,2022-03-01 00:12:05,13,262,22000000.0,16.6,0.0,623737.0,1997.0,1.0,...,FREELANCER,202202.0,일용직,기타가족소유,3000000.0,생활비,NaN,NaN,3.0,11000000.0
1116692,180433,2022-03-01 00:12:05,19,231,16000000.0,15.0,0.0,623737.0,1997.0,1.0,...,FREELANCER,202202.0,일용직,기타가족소유,3000000.0,생활비,NaN,NaN,3.0,11000000.0
2660438,1657888,2022-03-01 00:12:06,19,231,40000000.0,18.9,0.0,752985.0,1997.0,1.0,...,FREELANCER,202102.0,기타,기타가족소유,3000000.0,생활비,NaN,NaN,7.0,33000000.0
2660440,1657888,2022-03-01 00:12:06,24,263,5000000.0,15.9,0.0,752985.0,1997.0,1.0,...,FREELANCER,202102.0,기타,기타가족소유,3000000.0,생활비,NaN,NaN,7.0,33000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9024947,634459,2022-06-30 23:54:48,10,65,30000000.0,14.5,NaN,244440.0,2000.0,1.0,...,PRACTITIONER,20220501.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,NaN
9024951,634459,2022-06-30 23:54:48,10,149,30000000.0,14.5,NaN,244440.0,2000.0,1.0,...,PRACTITIONER,20220501.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,NaN
9024953,634459,2022-06-30 23:54:48,19,231,11000000.0,16.6,NaN,244440.0,2000.0,1.0,...,PRACTITIONER,20220501.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,NaN
8983167,1288711,2022-06-30 23:54:52,35,267,3000000.0,13.8,NaN,450880.0,1976.0,0.0,...,PRACTITIONER,20010501.0,정규직,자가,50000000.0,대환대출,0.0,NaN,NaN,NaN
8983165,1288711,2022-06-30 23:55:00,27,176,21000000.0,12.8,NaN,450880.0,1976.0,0.0,...,PRACTITIONER,20010501.0,정규직,자가,50000000.0,대환대출,0.0,NaN,NaN,NaN

In [19]:
train_loan_user = loan_user_sort[loan_user_sort['loanapply_insert_time']<'2022-06-01 00:00:00']
test_loan_user = loan_user_sort[loan_user_sort['loanapply_insert_time']>='2022-06-01 00:00:00']

In [20]:
train_loan_user = train_loan_user.reset_index(drop=True)
train_loan_user

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
0,566528,2022-03-01 00:11:36,13,123,20000000.0,19.1,0.0,681184.0,1974.0,1.0,...,OTHERINCOME,NaN,기타,전월세,1000000.0,생활비,NaN,NaN,4.0,20000000.0
1,180433,2022-03-01 00:12:05,13,262,22000000.0,16.6,0.0,623737.0,1997.0,1.0,...,FREELANCER,202202.0,일용직,기타가족소유,3000000.0,생활비,NaN,NaN,3.0,11000000.0
2,180433,2022-03-01 00:12:05,19,231,16000000.0,15.0,0.0,623737.0,1997.0,1.0,...,FREELANCER,202202.0,일용직,기타가족소유,3000000.0,생활비,NaN,NaN,3.0,11000000.0
3,1657888,2022-03-01 00:12:06,19,231,40000000.0,18.9,0.0,752985.0,1997.0,1.0,...,FREELANCER,202102.0,기타,기타가족소유,3000000.0,생활비,NaN,NaN,7.0,33000000.0
4,1657888,2022-03-01 00:12:06,24,263,5000000.0,15.9,0.0,752985.0,1997.0,1.0,...,FREELANCER,202102.0,기타,기타가족소유,3000000.0,생활비,NaN,NaN,7.0,33000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10270119,455157,2022-05-31 23:54:28,35,168,3000000.0,18.3,0.0,717233.0,1973.0,1.0,...,EARNEDINCOME,199704.0,정규직,자가,50000000.0,대환대출,0.0,0.0,12.0,293000000.0
10270120,455157,2022-05-31 23:54:28,55,159,3000000.0,18.9,0.0,717233.0,1973.0,1.0,...,EARNEDINCOME,199704.0,정규직,자가,50000000.0,대환대출,0.0,0.0,12.0,293000000.0
10270121,455157,2022-05-31 23:54:29,22,221,5000000.0,18.4,0.0,717233.0,1973.0,1.0,...,EARNEDINCOME,199704.0,정규직,자가,50000000.0,대환대출,0.0,0.0,12.0,293000000.0
10270122,455157,2022-05-31 23:54:37,38,16,3000000.0,14.5,0.0,717233.0,1973.0,1.0,...,EARNEDINCOME,199704.0,정규직,자가,50000000.0,대환대출,0.0,0.0,12.0,293000000.0
10270123,831190,2022-05-31 23:54:38,52,187,2000000.0,9.5,0.0,472597.0,1992.0,0.0,...,PRIVATEBUSINESS,201905.0,기타,전월세,40000000.0,대환대출,0.0,0.0,2.0,5000000.0

In [21]:
test_loan_user = test_loan_user.reset_index(drop=True)
test_loan_user

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,income_type,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt
0,506292,2022-06-01 00:12:24,27,148,13000000.0,7.2,NaN,669202.0,1981.0,1.0,...,EARNEDINCOME,202201.0,정규직,기타가족소유,16000000.0,생활비,0.0,NaN,1.0,NaN
1,506292,2022-06-01 00:12:24,59,251,11000000.0,6.8,NaN,669202.0,1981.0,1.0,...,EARNEDINCOME,202201.0,정규직,기타가족소유,16000000.0,생활비,0.0,NaN,1.0,NaN
2,1255231,2022-06-01 00:12:24,29,265,19000000.0,11.4,NaN,694012.0,1963.0,0.0,...,OTHERINCOME,NaN,기타,전월세,10000000.0,생활비,1.0,1.0,NaN,NaN
3,506292,2022-06-01 00:12:24,19,231,24000000.0,15.6,NaN,669202.0,1981.0,1.0,...,EARNEDINCOME,202201.0,정규직,기타가족소유,16000000.0,생활비,0.0,NaN,1.0,NaN
4,506292,2022-06-01 00:12:25,56,5,2000000.0,18.5,NaN,669202.0,1981.0,1.0,...,EARNEDINCOME,202201.0,정규직,기타가족소유,16000000.0,생활비,0.0,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3257234,634459,2022-06-30 23:54:48,10,65,30000000.0,14.5,NaN,244440.0,2000.0,1.0,...,PRACTITIONER,20220501.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,NaN
3257235,634459,2022-06-30 23:54:48,10,149,30000000.0,14.5,NaN,244440.0,2000.0,1.0,...,PRACTITIONER,20220501.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,NaN
3257236,634459,2022-06-30 23:54:48,19,231,11000000.0,16.6,NaN,244440.0,2000.0,1.0,...,PRACTITIONER,20220501.0,정규직,기타가족소유,5000000.0,생활비,0.0,0.0,1.0,NaN
3257237,1288711,2022-06-30 23:54:52,35,267,3000000.0,13.8,NaN,450880.0,1976.0,0.0,...,PRACTITIONER,20010501.0,정규직,자가,50000000.0,대환대출,0.0,NaN,NaN,NaN
3257238,1288711,2022-06-30 23:55:00,27,176,21000000.0,12.8,NaN,450880.0,1976.0,0.0,...,PRACTITIONER,20010501.0,정규직,자가,50000000.0,대환대출,0.0,NaN,NaN,NaN

In [22]:
train_loan_user.to_csv('train_loan_user.csv',index=False)
test_loan_user.to_csv('test_loan_user.csv',index=False)