### 대출신청 예측분석_02. 데이터 전처리

### 0. 모듈 & 데이터 load

In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

In [2]:
loan_user_fill = pd.read_csv('loan_user_fill_merge.csv')
loan_user_fill

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,company_enter_month,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,ymd
0,1748340,2022-06-07 13:05:41,7,191,42000000.0,13.6,NaN,430982.0,1996.0,1.0,...,202202.0,정규직,자가,25000000.0,대환대출,0.0,-1.0,2.0,15000000.0,2022-06-07
1,1748340,2022-06-07 13:05:41,25,169,24000000.0,17.9,NaN,430982.0,1996.0,1.0,...,202202.0,정규직,자가,25000000.0,대환대출,0.0,-1.0,2.0,15000000.0,2022-06-07
2,1748340,2022-06-07 13:05:41,2,7,24000000.0,18.5,NaN,430982.0,1996.0,1.0,...,202202.0,정규직,자가,25000000.0,대환대출,0.0,-1.0,2.0,15000000.0,2022-06-07
3,1748340,2022-06-07 13:05:41,4,268,29000000.0,10.8,NaN,430982.0,1996.0,1.0,...,202202.0,정규직,자가,25000000.0,대환대출,0.0,-1.0,2.0,15000000.0,2022-06-07
4,1748340,2022-06-07 13:05:41,11,118,5000000.0,16.4,NaN,430982.0,1996.0,1.0,...,202202.0,정규직,자가,25000000.0,대환대출,0.0,-1.0,2.0,15000000.0,2022-06-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13527358,1428218,2022-06-03 12:01:58,62,200,3000000.0,14.8,NaN,478802.0,1965.0,1.0,...,201903.0,정규직,기타가족소유,50000000.0,대환대출,0.0,-1.0,2.0,56000000.0,2022-06-03
13527359,1428218,2022-06-03 12:01:49,2,7,40000000.0,11.8,NaN,478802.0,1965.0,1.0,...,201903.0,정규직,기타가족소유,50000000.0,대환대출,0.0,-1.0,2.0,56000000.0,2022-06-03
13527360,1428218,2022-06-03 12:01:48,32,257,15000000.0,7.2,NaN,478802.0,1965.0,1.0,...,201903.0,정규직,기타가족소유,50000000.0,대환대출,0.0,-1.0,2.0,56000000.0,2022-06-03
13527361,1428218,2022-06-03 12:01:48,33,110,44000000.0,13.5,NaN,478802.0,1965.0,1.0,...,201903.0,정규직,기타가족소유,50000000.0,대환대출,0.0,-1.0,2.0,56000000.0,2022-06-03
13527362,1428218,2022-06-03 12:01:48,5,194,44000000.0,9.7,NaN,478802.0,1965.0,1.0,...,201903.0,정규직,기타가족소유,50000000.0,대환대출,0.0,-1.0,2.0,56000000.0,2022-06-03

In [3]:
loan_user_fill.dtypes

application_id                           int64
loanapply_insert_time                   object
bank_id                                  int64
product_id                               int64
loan_limit                             float64
loan_rate                              float64
is_applied                             float64
user_id                                float64
birth_year                             float64
gender                                 float64
insert_time                             object
credit_score                           float64
yearly_income                          float64
income_type                             object
company_enter_month                    float64
employment_type                         object
houseown_type                           object
desired_amount                         float64
purpose                                 object
personal_rehabilitation_yn             float64
personal_rehabilitation_complete_yn    float64
existing_loan_cnt                      float64
existing_loan_amt                      float64
ymd                                     object
dtype: object

In [4]:
data = loan_user_fill.copy()
data['bank_id'] = data['bank_id'].astype('str')
data['product_id'] = data['product_id'].astype('str')
data['bank_product'] = data['bank_id']+' '+data['product_id']
data

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,ymd,bank_product
0,1748340,2022-06-07 13:05:41,7,191,42000000.0,13.6,NaN,430982.0,1996.0,1.0,...,정규직,자가,25000000.0,대환대출,0.0,-1.0,2.0,15000000.0,2022-06-07,7 191
1,1748340,2022-06-07 13:05:41,25,169,24000000.0,17.9,NaN,430982.0,1996.0,1.0,...,정규직,자가,25000000.0,대환대출,0.0,-1.0,2.0,15000000.0,2022-06-07,25 169
2,1748340,2022-06-07 13:05:41,2,7,24000000.0,18.5,NaN,430982.0,1996.0,1.0,...,정규직,자가,25000000.0,대환대출,0.0,-1.0,2.0,15000000.0,2022-06-07,2 7
3,1748340,2022-06-07 13:05:41,4,268,29000000.0,10.8,NaN,430982.0,1996.0,1.0,...,정규직,자가,25000000.0,대환대출,0.0,-1.0,2.0,15000000.0,2022-06-07,4 268
4,1748340,2022-06-07 13:05:41,11,118,5000000.0,16.4,NaN,430982.0,1996.0,1.0,...,정규직,자가,25000000.0,대환대출,0.0,-1.0,2.0,15000000.0,2022-06-07,11 118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13527358,1428218,2022-06-03 12:01:58,62,200,3000000.0,14.8,NaN,478802.0,1965.0,1.0,...,정규직,기타가족소유,50000000.0,대환대출,0.0,-1.0,2.0,56000000.0,2022-06-03,62 200
13527359,1428218,2022-06-03 12:01:49,2,7,40000000.0,11.8,NaN,478802.0,1965.0,1.0,...,정규직,기타가족소유,50000000.0,대환대출,0.0,-1.0,2.0,56000000.0,2022-06-03,2 7
13527360,1428218,2022-06-03 12:01:48,32,257,15000000.0,7.2,NaN,478802.0,1965.0,1.0,...,정규직,기타가족소유,50000000.0,대환대출,0.0,-1.0,2.0,56000000.0,2022-06-03,32 257
13527361,1428218,2022-06-03 12:01:48,33,110,44000000.0,13.5,NaN,478802.0,1965.0,1.0,...,정규직,기타가족소유,50000000.0,대환대출,0.0,-1.0,2.0,56000000.0,2022-06-03,33 110
13527362,1428218,2022-06-03 12:01:48,5,194,44000000.0,9.7,NaN,478802.0,1965.0,1.0,...,정규직,기타가족소유,50000000.0,대환대출,0.0,-1.0,2.0,56000000.0,2022-06-03,5 194

#### 01) loan_rate & loan_limit 결측값 확인

In [5]:
def f_bp(data,col_name):
    bp_list = data['bank_product'].unique()
    
    for i in bp_list:
        bp = data[data['bank_product'] == i]
        print('bank_product : %s'%i)
        print('len_bp : ',len(bp[col_name]))
        print('%s 의 결측값'%i,bp[col_name].isnull().sum())
        print('q0 : %f \n q25 : %f \n q50 : %f \n q75 : %f \n q1 : %f \n '%(bp[col_name].quantile(q=(0)),bp[col_name].quantile(q=(0.25)),bp[col_name].quantile(q=(0.5)),bp[col_name].quantile(q=(0.75)),bp[col_name].quantile(q=(1))))
        sns.boxplot(data=bp, x=col_name,palette = 'Blues',orient='h')
        plt.title('bank_product Boxplot %s'%i)
        plt.show()

In [6]:
#f_bp(data,'loan_rate')

In [7]:
#f_bp(data,'loan_limit')

loan_rate
+ 최대 최소 차이가 큰 경우가 많음
+ 분위수 25-75 값 차이가 크지 않음
	-> 평균으로 채워도 될듯
+ nan 값이 존재 
	30 232 : 158
	27 193 : 9
	25 13 : 64
	30 116 : 12
	3 53 : 1
	34 52 : 8
	2 165 : 3
	51 21 : 135
	23 180 : 1364

-> loan_rate는 평균으로 채우기

---
loan_limit
+ 최대최소 차이가 큼 겨우가 많음
+ 분위수 25-75 사이 값이 큼
	-> 평균으로 채우기가 좀 애매

#### 02) loan_rate 전처리

+ bank_product 기준으로 평균 보간
+ 채워지지 않는 값은 application_id 기준으로 보간
    + 1.0 -> 가장 낮은 값으로 보간

In [8]:
data['loan_rate'].isnull().sum()

7495

In [9]:
data['bank_product']

0            7 191
1           25 169
2              2 7
3            4 268
4           11 118
             ...
13527358    62 200
13527359       2 7
13527360    32 257
13527361    33 110
13527362     5 194
Name: bank_product, Length: 13527363, dtype: object

In [10]:
ndf = []

for idx, val in data.groupby('bank_product'):
    #print(val)
    #print(idx)
    ndf.append(val.fillna(val['loan_rate'].mean()))
    
data_fill = pd.concat(ndf,axis=0, ignore_index=True)

In [11]:
data_fill

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,employment_type,houseown_type,desired_amount,purpose,personal_rehabilitation_yn,personal_rehabilitation_complete_yn,existing_loan_cnt,existing_loan_amt,ymd,bank_product
0,728546,2022-06-07 21:16:44,1,1,39000000.0,8.9,10.687069,3058.0,1990.0,1.0,...,기타,전월세,14000000.0,투자,0.0,-1.0,0.0,0.0,2022-06-07,1 1
1,629707,2022-06-07 08:08:25,1,1,41000000.0,8.9,10.687069,82141.0,1983.0,1.0,...,정규직,전월세,10000000.0,생활비,0.0,-1.0,1.0,30000000.0,2022-06-07,1 1
2,1410836,2022-06-07 17:54:45,1,1,103000000.0,12.4,10.687069,685041.0,1978.0,0.0,...,정규직,전월세,600000000.0,전월세보증금,0.0,-1.0,4.0,255000000.0,2022-06-07,1 1
3,1399034,2022-06-07 20:53:29,1,1,61000000.0,10.4,10.687069,753869.0,1989.0,0.0,...,정규직,전월세,30000000.0,전월세보증금,0.0,-1.0,1.0,10000000.0,2022-06-07,1 1
4,953094,2022-06-07 09:02:42,1,1,3000000.0,12.4,10.687069,728487.0,1983.0,1.0,...,정규직,자가,50000000.0,대환대출,0.0,-1.0,3.0,297000000.0,2022-06-07,1 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13527358,36116,2022-06-03 13:21:39,9,250,10000000.0,3.9,4.907802,115494.0,1993.0,1.0,...,정규직,기타가족소유,70000000.0,대환대출,0.0,-1.0,2.0,69000000.0,2022-06-03,9 250
13527359,1225301,2022-06-03 10:52:25,9,250,4000000.0,4.7,4.907802,371766.0,1986.0,0.0,...,정규직,전월세,10000000.0,생활비,0.0,-1.0,5.0,28000000.0,2022-06-03,9 250
13527360,1050279,2022-06-03 08:08:06,9,250,28000000.0,4.7,4.907802,655548.0,1991.0,1.0,...,정규직,전월세,50000000.0,생활비,0.0,-1.0,1.0,10000000.0,2022-06-03,9 250
13527361,1337189,2022-06-03 05:25:22,9,250,10000000.0,4.2,4.907802,227922.0,1980.0,1.0,...,정규직,자가,100000000.0,생활비,0.0,-1.0,2.0,140000000.0,2022-06-03,9 250
13527362,1653188,2022-06-03 17:14:49,9,250,10000000.0,7.9,4.907802,707833.0,1986.0,0.0,...,정규직,전월세,50000000.0,생활비,0.0,-1.0,1.0,10000000.0,2022-06-03,9 250

In [12]:
data_fill['loan_rate'].isnull().sum()

2837

In [14]:
data_fill.to_csv('data_fill.csv',index=False)

In [2]:
data_fill = pd.read_csv('data_fill.csv')

In [ ]:
line = []

for idx, val in data_fill.groupby('application_id'):
    #print(val)
    #print(idx)
    line.append(val.fillna(val['loan_rate'].min()))
                
data_fill_line = pd.concat(line,axis=0, ignore_index=True)

In [ ]:
data_fill_line['loan_rate'].isnull().sum()

+ 그룹 바이해서 -> 결측치 채우고 -> 콘캣

ndf = []
for idx, df in tqdm(log_data.groupby('user_id')):
    ndf.append(df.fillna(method='ffill'))

log_data = pd.concat(ndf, axis = 1, ignore_index=True)



for idx, val in df.groupby('val1'):
    print(val)
    print(idx)
    
    
line = [pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame()]
pd.concat(line,axis=0)

#### 03) loan_limit 전처리
+ desired_amount와 연관이 높다
    + desired_amount로 결측값 채우기
    + 채우기 전에 is_applied = 1.0인 것 확인